*,
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans";
  color: white;
}

body {
  background-color: rgb(1, 1, 1);
}

:root {
  --padding-side-breakpoint--1: 80px;
  --padding-side-breakpoint--2: 40px;
  --padding-side-breakpoint--3: 20px;
  --padding-side-breakpoint--4: 10px;
}
