.buttonContainer {
  background-color: white;
  padding: 12px 25px;
  border-radius: 20px;
  cursor: pointer;
}
.buttonText {
  color: black;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.3em;
  cursor: pointer;
}
