.sectionContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.landingSection {
  width: 100%;
}

.landingTitle {
  position: absolute;
  text-align: center;
  font-weight: 800;
  font-size: 2.375rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 40vw;
}

.landingImage {
  border-radius: 20px;
  width: 100%;
  box-shadow: var(--box-shadow--3);
}

@media (max-width: 1300px) {
  .landingSection {
  }
}

@media (max-width: 1000px) {
  .landingTitle {
    top: 45vw;
    font-size: 1.8rem;
  }
}

@media (max-width: 750px) {
  .landingSection {
  }

  .landingTitle {
    top: 50vw;
    font-size: 1.3rem;
  }
}

@media (max-width: 520px) {
  .landingSection {
  }

  .landingTitle {
    top: 55vw;
    font-size: 1rem;
  }
}
